@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(210, 46%, 95%);
  font-family: "Barlow Semi Condensed", serif;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.child {
  padding: 20px;
  border-radius: 10px;
}

.child h1 {
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.one {
  grid-area: one;
  background-color: transparent;
  position: relative;
}

.one::before {
  content: "";
  position: absolute;
  background-size: cover;
  background-image: url("./images/bg-pattern-quotation.svg");
  top: 0;
  z-index: -1;
  right: 100px;
  width: 120px;
  height: 120px;
}

.one::after {
  background-color: hsl(263, 55%, 52%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.two {
  background-color: hsl(217, 19%, 35%);
  grid-area: two;
}

.three {
  background-color: hsl(0, 0%, 100%);
  grid-area: three;
}

.four {
  background-color: hsl(219, 29%, 14%);
  grid-area: four;
}

.five {
  background-color: hsl(0, 0%, 100%);
  grid-area: five;
}

.one h2,
.one h1,
.two h2,
.two h1,
.four h1,
.four h2 {
  color: hsl(0, 0%, 100%);
}

.one h3,
.one p,
.two h3,
.two p,
.four h3,
.four p {
  color: hsl(0, 0%, 81%);
}

.three h1,
.three h2,
.five h1,
.five h2 {
  color: hsl(219, 29%, 14%);
}

.three p,
.three h3,
.five p,
.five h3 {
  color: hsl(217, 19%, 35%);
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

.profile-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.name-wrapper {
  width: 70%;
}

.profile-wrapper img {
  border-radius: 50%;
}

.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 900px) and (max-width: 1200px) {
  main {
    width: 90%;
  }
}

@media (min-width: 900px) {
  .name-wrapper {
    margin-inline: 5px;
  }

  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "one one two five"
      "three four four five";
    margin: 100px auto 20px;
  }
}

@media (min-width: 1200px) {
  main {
    width: 80%;
  }
}
